mixin lists(Lists)
  .w1200.ma
    ul.reset.clearfix.w1200.p5.lh0.tj.bgpink
      each i in Lists
        li.bg0.din.w230.mlr5.por.h372.vt.list5x(data-hover)
          a.poa.rds40.wh36.f28.buy_btn.trans.c2.pointer='+'
          a.rds40.wh36.f18.bd.pink.add-cow.pointer(data-show)='s'
          a.db.trans(href='')
            img(src=i.image).db
          .m10
            a.db.bnone(href).lh15s
              div.c6.mb10.h44.ovh=i.title
              div.f12.ell.c4='是封建士大夫艰苦是法律框架是凡涉及多方联手打击开发商'
      -for(var i =0;i<4;i++)
        .kong.w230.din.vt  &nbsp;     
  style.
    .list5x{transition: all 0.25s;}
    .list5x:hover{
      border-color: #e3e3e3;
      box-shadow: 0 0 3px 1px #E9E9E9;
      z-index: 2;
     margin-top:0px;
    }
    .list5x:hover a .h44{color: #ff9619}
    .wh36{width: 36px;height: 36px;}
    .buy_btn{border:3px solid;
      margin-top:202px;
      margin-left: 180px;
      line-height: 2px;
      text-indent: -8px;}
    .list5x:hover .buy_btn{color: #333}
    .add-cow{margin:150px 0 0 180px}
    .add-cow:hover{color: #ff0043}
    .h44{height: 44px}
    .w230{width:230px}
    .h372{height:372px;}
    .lh0{line-height:0;}
    .mlr5{margin:5px auto;}
