//
   Created by baermowei on 2017/3/1.
- d='fdsfsdf'
doctype html
html
  head
    title woshi
  body
    -arr=[1,2,3,2,3,4]
    -obj={arr,x:4,y:(x)=>x*x}
    div=obj.arr[0]
    div=obj.y(6)
    div=obj.x
    div
      h1 woshissjfsfjsf
        s='ppppppppppppppp'
      h2 #{d}
    script.
      let[a,b]=[1,2]
